<%- include('navbar.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-lg border-0 bg-light">
                <div class="card-header">
                    <%- include('includes/logo.ejs')%>
                    <h3 class="text-center">Please Choose a  Password</h3>
                    <div class="text-danger">
                        <p class="text-danger"><%= msg %></p>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/register/password" method="post" id="passwordForm">
                        <div class="form-group">
                            <span class="text-danger">*</span>
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#\$%\^&\*]).{8,32}$" autofocus required>
                        </div><br>
                        <div class="form-group">
                            <span class="text-danger">*</span>
                            <input type="password" class="form-control" name="confirmPassword"
                                   placeholder="Confirm password" required>
                        </div><br>
                        <div class="row text-center justify-content-center">
                            <div class="col-2">
                                <a href="/register" class="btn btn-light btn-sm w-100">Back</a>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success btn-sm rounded-pill">Register</button>
                            </div>
                        </div>
                        <br>
                        <p style="background-color: rgba(0, 0, 0, 0.4); background-size: initial" class="text-center">
                            Already have an account? <a href="/">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>
