<%- include('navbar.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/404.gif" class="rounded-circle rounded mx-auto d-block img-fluid border border-warning" alt="404">
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>